*.class
*.log
**/.history3
**/.bsp/
**/.idea
**/target/bg-jobs
**/target/global-logging
**/target/streams
**/target/task-temp-directory
**/target/scala-2.13/classes/
**/target/scala-2.13/update/
**/target/scala-2.13/zinc/
**/target/scala-2.13/sync/
**/target/scala-2.13/test-sync/
**/target/scala-2.12/classes/
**/target/scala-2.12/update/
**/target/scala-2.12/zinc/
**/target/scala-2.12/sync/
**/target/scala-2.12/test-sync/
**/project/project/
**/project/target/
